<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="LocusMapper">
	<resultMap id="BaseResultMap" type="com.map.platform.interfaces.beans.LocusInfo">
		<id column="ID" property="id" jdbcType="INTEGER" />
		<id column="ak" property="ak" jdbcType="VARCHAR" />
		<id column="mac" property="mac" jdbcType="VARCHAR" />
	</resultMap>
	
	<select id="add" parameterType="com.map.platform.interfaces.beans.LocusInfo">
		insert into t_locus (ak,mac) VALUES (#{ak},#{mac})
	</select>
</mapper>